.clear {
  clear: both; }

.active {
  opacity: 1 !important; }

body {
  background-color: #000;
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

header {
  width: 100%;
  height: 32px;
  text-align: center; }

.logo-wraper {
  display: block;
  float: left;
  margin-top: 32px;
  margin-left: 32px;
  cursor: pointer; }

form.input-wraper {
  display: inline-block;
  border-radius: 16px;
  border: none;
  margin-top: 32px; }
  form.input-wraper input {
    display: inline-block;
    background-color: rgba(255, 255, 255, 0.15);
    color: rgba(255, 255, 255, 0.75);
    height: 32px;
    width: 288px;
    border-radius: 16px;
    border: none;
    margin-bottom: 4px;
    padding: 4px 16px;
    font-size: 12px;
    font-weight: 500;
    line-height: 1.33;
    -ms-input-placeholder-color: rgba(255, 255, 255, 0.75);
    transition: background-color 0.25s ease-in-out; }
    form.input-wraper input input::-webkit-input-placeholder {
      color: rgba(255, 255, 255, 0.75); }
    form.input-wraper input ::-moz-placeholder {
      color: rgba(255, 255, 255, 0.75); }
    form.input-wraper input ::-webkit-input-placeholder {
      color: rgba(255, 255, 255, 0.75); }
    form.input-wraper input ::placeholder {
      color: rgba(255, 255, 255, 0.75); }
  form.input-wraper input:focus {
    outline: none;
    background-color: rgba(255, 255, 255, 0.25); }
  form.input-wraper input:hover {
    background-color: rgba(255, 255, 255, 0.25); }

a.svg-wraper {
  display: inline-block;
  cursor: pointer;
  position: relative;
  right: 32px;
  top: 8px; }
  a.svg-wraper object.ic-search {
    display: block;
    float: right;
    pointer-events: none;
    opacity: 0.5;
    transition: opacity 0.25s ease-in-out; }

.user {
  display: block;
  width: 164px;
  height: 32px;
  float: right;
  margin-right: 32px;
  margin-top: 32px; }
  .user .user-wraper {
    width: 32px;
    height: 32px;
    background-color: white;
    border-radius: 16px;
    float: left; }
    .user .user-wraper img {
      width: 32px;
      height: 32px;
      border-radius: 16px;
      float: left; }
  .user .username {
    display: inline-block;
    width: 124px;
    height: 15px;
    color: rgba(255, 255, 255, 0.75);
    float: left;
    font-size: 12px;
    font-weight: 500;
    vertical-align: top;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.25); }

main {
  margin-top: 96px; }
  main .search-title {
    display: inline-block;
    width: 102px;
    height: 24px;
    color: rgba(255, 255, 255, 0.5);
    text-shadow: 0 2px 4px var(--black-50);
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 600;
    margin-left: 1%;
    margin-bottom: 16px; }
  main section {
    position: relative;
    width: 100%;
    text-align: center; }
    main section .movie-wraper {
      position: relative;
      display: inline-block;
      width: 156px;
      height: 234px;
      margin: 0 2%;
      margin-bottom: 24px; }
      main section .movie-wraper img {
        float: left;
        width: 100%;
        height: 100%; }
      main section .movie-wraper .movie-mask {
        cursor: pointer;
        opacity: 0.01;
        width: 124px;
        height: 151px;
        padding: 44px 16px 39px;
        position: absolute;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 99;
        transition: opacity 0.25s ease-in-out; }
        main section .movie-wraper .movie-mask:hover {
          opacity: 1; }
        main section .movie-wraper .movie-mask p {
          position: absolute;
          text-shadow: 0 2px 4px var(--black-50);
          font-size: 12px;
          font-weight: 500;
          color: white; }
        main section .movie-wraper .movie-mask .text-wraper {
          position: relative;
          height: 90%;
          text-align: left; }
          main section .movie-wraper .movie-mask .text-wraper .text-spacing {
            min-height: 16px;
            height: 88px; }
          main section .movie-wraper .movie-mask .text-wraper h2 {
            text-shadow: 0 2px 4px var(--black-50);
            font-size: 16px;
            font-weight: bold;
            line-height: 1.25;
            color: white;
            position: absolute;
            bottom: -16px; }

@media screen and (max-width: 580px) {
  main section .movie-wraper {
    width: 108px;
    height: 162px;
    margin: 0 1%; }
    main section .movie-wraper .movie-mask {
      display: none; } }

/*# sourceMappingURL=style.css.map */
